@keyframes mover{
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(130px);
    }

    100%{
        transform: translateX(0px);
    }
    
}
@keyframes girar{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}